__pycache__
.DS_Store

# Models are too large to push to GitHub
model 

# The experiment folder should not be pushed because 
# it contains files that are too large to push to GitHub
experiments
experiments/*

plots
plots/*

models
model/*

# This entire folder was massacred in the rush for the deadline. Now I don't know what's important
junk
junk/*

